/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, p{
    margin: 0px;
}
body{
    margin:0px !important;
}
input{
font-size: 16px;
padding:10px;
width: 180px;
margin-top:15px;
background: rgba(250,250,250, .8);
color: #333;
border:none;
outline: none;
}
