.imagemap{
    height: 400px;
    width: 400px;
    overflow: scroll;
    background-repeat: no-repeat;
    position: relative;
    background-size:cover;
}
.imagemap a{
    display: block;
    position: absolute;
}

a#delhi{
    left:32%;
    top:45%;

}
